.text {
  font-size: 15px;
  display: block;
}
.user {
  display: flex;
}
.userImg {
  width: 70px;
  height: 70px;
  margin-top: 3px;
}
.imgBlock {
  display: flex;
  flex-direction: column;
}
h2 {
  margin: 0;
}
.selected {
  font-weight: bold;
}
.paginator {
  margin-top: 5px;
}
.pages > span {
  border: 1px #3f51b5 solid;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.pages {
  display: flex;
  align-items: center;
}
