#root {
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  position: absolute;
  top: 80px;
  width: 90%;
  bottom: 0;
}

.header {
  max-height: 70px;
  background: lightgreen;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 70px;
  height: 70px;
}
.header button {
  padding: 5px;
}
